.myDiv {
  /* padding-top: 50px; */
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  display: 'flex';
  flex-direction: column;
}

.footer-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #777777;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
}

.footer-subtitle {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #777777;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.footer-date {
  font-size: 23px;
  font-weight: 400;
  color: #777777;
  text-align: center;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
