.container {
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center; 
 
<<<<<<< HEAD
  padding: 2rem;   
=======
  padding: 1rem;   
>>>>>>> f6c1dfe (fix: "worked on the login , register and home screen")
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  color: #555;
  text-align: center;
}
