.container {
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center; 
 
  padding: 1rem;   
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  color: #555;
  text-align: center;
}
