.card {
  max-width: 24rem; 
  background-color: #ffffff;
  border-radius: 2rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
  border: 1.5px solid #4A4DE8;
  margin-top: 1rem;
}


.card-img {
  width: 100%;
  height: 2rem; 
  object-fit: cover;
}

.card-content {
  padding: 0.5rem; 
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937; 
  margin: 0;
}

.card-subtitle {
  color: #4b5563; 
  margin-top: 0.25rem; 
  font-size: 1rem;
  word-wrap: break-word; 
  white-space: normal;
}


.centered-text {
  font-family: 'Barlow Condensed', sans-serif; 
  font-weight: 500;                            
  font-style: normal;                           
  font-size: 46.06px;
  line-height: 100%;                            
  letter-spacing: 0%;                           
  display: inline-block; 
}


.custom-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;               
  font-size: 1.1rem;
  line-height: 100%;         
  letter-spacing: 0%;
  color: #777777;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.custom-text-medium {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;       
  font-size: 1.8rem;
  line-height: 100%;       
  letter-spacing: 0%;
  color: #000000;
}
