.text-style {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;          
  font-style: normal;       
  font-size: 20.71px;
  letter-spacing: 0;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.text-style:hover{
  color:  #4A4DE8;
}


.onboarding-text {
  max-width: 700px;       
  margin: 0 auto;          
  text-align: center;    
  line-height: 1.6;
  font-size: 1.1rem;
  padding: 1rem;
  color: #333;
}